/parameterComparisonScripts/.ipynb_checkpoints/
*checkpoints*
*checkpoints*
/fscrunched/results/*IS*
/fscrunched/results/*.dat
/final/tempo2/kopeikin/results/*.points
/final/tempo2/kopeikin/results/*.ptprob
/final/tempo2/kopeikin/results/*.iterinfo
